@font-face {
    font-family: Helvetica;
    src: url('/static/fonts/helvetica_neue_light.ttf');
    font-weight:400;
}

@font-face {
    font-family: Roboto;
    src: url('/static/fonts/roboto-regular.ttf');
    font-weight:400;
}

body{
    width:100%;
    font-family: Roboto;
    background:rgb(250, 250, 250);
}

main {
  display:block;
  position:relative;
  width:50rem;
  margin:3vh auto;
  padding:1.5rem;
  background:#ddd;
  outline
  border-radius:.25rem;
  overflow:hidden;
  transform:scale(.75);
  transform-origin:center 3rem;
  transition:transform .3s;
}

#heading{
  font-size:1.2rem;
  font-weight:400;
  font-family:Helvetica;
}


.card {
  padding:1.5rem;
  box-shadow:0 1px 2px #aaa;
  background:white;
  margin:0 1rem 1rem;
  border-radius:3px;
  user-select:none;
  animation:fly-in-from-left .5s 1s ease both;
  transform-origin:top left;
}
.card:nth-child(even){
  animation-name:fly-in-from-right;
  animation-delay:1.1s;
 transform-origin:top right;
}

@keyframes fly-in-from-left {
  from {
    transform:translateY(15rem) rotate(15deg);
    opacity:0;
  }
}

@keyframes fly-in-from-right {
  from {
    transform:translateY(15rem) rotate(-15deg);
    opacity:0;
  }
}

.card:after {
  position:absolute;
  font-size:.9rem;
  top:1.5rem;
  right:1rem;
  content:"i";
  border:thin solid gray;
  color:gray;
  width:1rem;
  line-height:1rem;
  text-align:center;
  border-radius:50%;
  pointer-events:none;
}

h1 {
  font-size:2rem;
  font-weight:200;
  font-family:Roboto;
}
  strong {
    font-weight:300;
    color:#539D00;
  }

h2 {
  font-size:.9rem;
  line-height:2.5;
  color:gray;
  font-weight:400;
  font-family:Helvetica;
}


input, .card {
  position:relative;
  z-index:2;
}

input {
  display:block;
  width:26rem;
  margin:1rem 1rem 2rem;
  border:0;
  font-size:0.8rem;
  padding:.75rem 1rem;
  border-radius:3px;
  box-shadow:-1px 1px 1px 1px #aaa;
  transition:.5s, margin-bottom .15s;
}

input:focus {
  //margin:0 1rem 1rem;
  outline:0;
}

/*input:focus + header {
  transform:translate3d(0,-10rem,0);
  opacity:0;
}*/