<!DOCTYPE html>
<html>
<head>
<title>Rawan Cement Works - SMS delivery system</title>
<link href="/static/reset.css" rel="stylesheet"/>
<link href="/static/smspage.css" rel="stylesheet"/>
</head>
<body>
    <main>
        <div id="heading">
            <image src="/static/logo.png" />

            <image style="float:right;" src="/static/ultratech_logo.png" />
        </div>
        <br/>
        <div id="heading" style="text-align: center;">Rawan Cement Works - SMS delivery system</div><br/><br/><br/>

        <section class="card">
          <h1>By Employee</h1>
          <h2>Select individual employees you want to deliver SMS to</h2>
          <form method="post" action="employeemessage/">
              {% csrf_token %}
              {{ employee_message_form.as_table }}
              <input type="submit" value="Send" />
          </form>
        </section>

        <section class="card">
          <h1>By Department</h1>
          <h2>Select a department you want to deliver SMS to</h2>
          <form method="post" action="departmentmessage/">
              {% csrf_token %}
              {{ department_message_form.as_table }}
              <input type="submit" value="Send" />
          </form>
        </section>

        <section class="card">
          <h1>By Custom Group</h1>
          <h2>Select or create a custom group of recepients</h2>
          <form method="post" action="groupmessage/">
              {% csrf_token %}
              {{ group_message_form.as_table }}
              <input type="submit" value="Send" />
          </form>
        </section>

        <section class="card">
          <h1>By Recent Recepients</h1>
          <h2>Directly send SMS to last recepients</h2>
          <form>
              <input type="text" placeholder="Please enter the message..."/>
          </form>
        </section>
    </main>
</body>
</html>
